{% extends "base.html" %} {% block titulo %} Mis publicaciones {% endblock %}

{% block contenido_principal %}
<h2>Lista de Ofertas Destacadas</h2>
<div class="container">
    {% if error != null %}
    <div id="div-error-identificacion" class="alert alert-danger">
        <td> {{error}}</td>
    </div>
    {% endif %}
    <!-- Busqueda -->
    <div class="table-responsive">
        <table class="table table-hover" id ="userTable">
            <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Comprar</th>
            </tr>
            </thead>
            <tbody>
            {% for oferta in ofertas %}
            <tr>
                <td>{{ oferta.title }}</td>
                <td>{{ oferta.description }}</td>
                <td>{{ oferta.price }}</td>
                {% if oferta.buyer == null %}
                <td><a href="/compra/comprar/{{ oferta._id.toString() }}">Comprar</a></td>
                {% else %}
                <td>Vendido</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}